.popup {
    width: 100%;
    height: 100vh;
    min-width: 416px;
    position: relative;
}

.wrapper {
    position: absolute;
    bottom: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08), 0px 3px 15px 0px rgba(11, 15, 20, 0.12);
    z-index: 999;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cockpit {
    width: 100%;
}

.success {
    font-size: 20px;
    font-style: normal;
    font-weight: 590;
    line-height: 120%; /* 24px */
    letter-spacing: -0.4px;
}

.priority {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    font-style: normal;
    font-weight: 590;
    line-height: 16px;
    margin-bottom: 8px;
}

.buttonWrapper {
    display: flex;
    gap: 8px;
}

.onWay {
    border-radius: 8px;
    background: #EEEFF1;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    max-width: 129px;
}

.Hight * {
    fill: #F04256;
    color: #F04256;
}

.Medium * {
    fill: #D74D00;
    color: #D74D00;
}

.Low * {
    fill: #5AA300;
    color: #5AA300;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 590;
    line-height: 120%; /* 24px */
    letter-spacing: -0.4px;
    margin-bottom: 4px;
}

.time {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 12px;
}

.timer {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}