.container {
  min-width: 393px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  padding-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px 24px;
}

.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  letter-spacing: -0.2px;
}

.logo {
  width: 24px;
  height: 24px;
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: 590;
  line-height: 120%; /* 33.6px */
  letter-spacing: -0.4px;
  margin: 0 16px 16px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  list-style-type: none;
  max-height: calc(100vh - 162px);
  overflow: auto;
}

.button {
  margin: 0 16px;
}

.cardWrapper {
  margin: 0 16px;
}

.cardWrapper:first-of-type {
  margin-top: 16px;
}

.cardWrapper:last-of-type {
  margin-bottom: 16px;
}

.button {
  margin: 0 16px;
  width: auto;
}
