.row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
  padding: var(--spacing-2-xs, 12px) var(--spacing-xs, 16px);
  justify-content: space-between;
  align-items: center;
  text-align: start;
  border-top: 1px solid var(--border-neutral-150, #e6e8ea);
  position: relative;
}

.cell {
  color: var(--text-primary, #0b0f14);
  /* font-feature-settings: 'clig' off, 'liga' off; */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.row::after {
  background-image: url(../../../../images/arrowRight.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  content: "";
}
