.button {
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 24px;
  height: 48px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  position: relative;
  color: #FFFFFF;
  background-color: #FF4B5F;
}

/*@media (min-width: 500px) {*/
/*  .button {*/
/*    margin-top: 24px !important;*/
/*  }*/
/*}*/